@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.background {
  @apply h-screen w-screen bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50 transition-colors;
}

.nav-text {
  @apply text-primaryDark dark:text-primary transition-colors;
}

.paper {
  @apply shadow bg-white dark:bg-gray-800 transition-colors;
}

.link {
  @apply text-primaryDark hover:text-primary dark:text-primary dark:hover:text-primaryLight transition-colors;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}
